<ion-header>
  <ion-toolbar>
    <ion-title>
      HOT-DOGÃO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let dog of dogList">
    <ion-card>
      <ion-card-content>
        <ion-img src={{dog.image}}></ion-img>
        <ion-card-title class="title">
          {{dog.title}}
        </ion-card-title>
        <ion-card-subtitle class="desc">
          {{dog.preco}}
        </ion-card-subtitle>
        <h1 class="price">
          {{dog.desc}}
        </h1>
            <ion-button color="danger" expand="block" [routerLink]="['/finalizar-pedido']">
              <ion-icon name="card"></ion-icon>
              COMPRAR
            </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>